<div class="back-button">
  <button mat-icon-button [routerLink]="['/dashboard']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
@if (form) {
  <div class="container">
    <form [formGroup]="form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Specialty</mat-label>
        <input matInput formControlName="specialty"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>License Number</mat-label>
        <input matInput formControlName="licenseNumber"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Years of Experience</mat-label>
        <input matInput type="number" formControlName="yearsOfExperience"/>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || form.disabled"
        (click)="submit()"
      >
        Submit Changes
      </button>
    </form>
  </div>
} @else {
  <div class="spinner-container">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
}

