<button class="timeslot-btn" mat-flat-button id="timeslots-btn">Find an available timeslot</button>


<mat-form-field id="specialist-form">
  <mat-label>Find a specialist or equipment</mat-label>
  <input matInput type="text" [formControl]="searchControl1" [matAutocomplete]="auto">
  @if (searchControl1.value) {
  <button matSuffix mat-icon-button aria-label="Clear" (click)="searchControl1.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  }
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    @for (specialist of filteredSpecialists$ | async; track $index) {
    <mat-option [value]="specialist.username" [routerLink]="['/specialist', specialist.username]">
      {{specialist.username}} ({{specialist.specialty}})
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>


<mat-form-field id="appointment-form" class="search-form" >
  <mat-label>Find your appointment details</mat-label>
  <input matInput type="text" [formControl]="searchControl2" (keyup.enter)="goToAppointment()">
  @if (searchControl2.value) {
    <ng-container matSuffix>  <!-- Wrap in ng-container with matSuffix -->
      <button mat-icon-button aria-label="Clear" (click)="searchControl2.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button aria-label="Search" [routerLink]="['/appointment',searchControl2.value]">
        <mat-icon>search</mat-icon>
      </button>
    </ng-container>
    }
</mat-form-field>

