@if(!fetchedPrescriptions){
  <mat-spinner></mat-spinner>
}
@else {
  <h3 class="mv-heading">Prescriptions</h3>
   <table mat-table [dataSource]="prescriptions" class="mat-elevation-z8 demo-table">
  @for (column of precriptionColumns; track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        @if (column.header=='Action') {
          <button mat-flat-button [routerLink]="['/qr/',column.cell(row)]">Get QR code</button>
        }@else {
          {{column.cell(row)}}
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedPrecriptionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedPrecriptionColumns;"></tr>
</table>
}

@if(!fetchedAppointments){
  <mat-spinner></mat-spinner>
}
@else {
  <h3 class="mv-heading">Appointments</h3>
   <table mat-table [dataSource]="appointments" class="mat-elevation-z8 demo-table">
  @for (column of appointmentColumns; track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        @if (column.header=='Details') {
          <button mat-flat-button [routerLink]="['/appointment/',column.cell(row)]">See More</button>
        }@else {
          {{column.cell(row)}}
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedAppointmentColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedAppointmentColumns;"></tr>
</table>
}
