<div class="prescription-item">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title
        >Appointment of patient
        {{ prescription.patientNameAndSurname }}</mat-card-title
      >
      <mat-card-subtitle
        >Doctor: {{ prescription.doctorNameAndSurname }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div>Medicine: {{ prescription.medicine }}</div>
      <div>Frequency: {{ prescription.frequency }}</div>
      <div>Expiration date: {{ prescription.expirationDate }}</div>
    </mat-card-content>
  </mat-card>
</div>
