<div class="mv-panel ">
  <h2>Specialist Details</h2>
  @if (!fetchedSpecialist) {
  <mat-spinner></mat-spinner>
  } @else {
  <div class="mv-row">
    <label>Full Name</label>
    <p>{{ specialist?.name }} {{ specialist?.surname }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Specialty</label>
    <p>{{ specialist?.specialty }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Years of experience</label>
    <p>{{ specialist?.yearsOfExperience }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Contact (e-mail)</label>
    <p>{{ specialist?.email }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Contact (phone)</label>
    <p>{{ specialist?.phone }}</p>
  </div>
  <mat-divider></mat-divider>
  } @if (!fetchedAppointments) {
  <mat-spinner></mat-spinner>
  } @else {
  <div class="mv-timeslot-picker">
    <h2>Available timeslots</h2>
    <div class="mv-date-picker">
      <mat-calendar
        class="mv-calendar"
        [(selected)]="selected"
      ></mat-calendar>
      <div class="mv-timeslots">
        <h3>Selected day: {{ formatDateDMY(selected()) }}</h3>
        @if (selected()) {
        <div class="mv-all-timeslots">
          @for (appointment of appointments; track appointment) {

            @if (appointment.date == formatDateYMD(selected())) {
              @if (appointment.status=="FREE") {
                <div class="mv-timeslot free">{{ appointment.time}}</div>
              }
              @else {
                <div class="mv-timeslot occupied">{{ appointment.time}}</div>
              }
            }
          }
        </div>

        }
      </div>
    </div>
  </div>

  }
</div>
