@if (userRole === 'ROLE_ADMIN') {
  <app-admin-dashboard></app-admin-dashboard>
} @else if (userRole === 'ROLE_DOCTOR') {
  <app-doctor-dashboard></app-doctor-dashboard>
} @else if (userRole === 'ROLE_PATIENT') {
  <app-patient-dashboard></app-patient-dashboard>
} @else if (userRole === 'ROLE_SPECIALIST') {
  <app-specialist-dashboard></app-specialist-dashboard>
} @else if (userRole === 'ROLE_PHARMACIST') {
  <app-pharmacist-dashboard></app-pharmacist-dashboard>
} @else {
  <p>Loading user information...</p>
}

