<div class="mv-panel mv-appointment">
  <h2>Appointment #{{ appointment?.refNumber }} Details</h2>
  @if (!fetched) {
  <mat-spinner></mat-spinner>
  } @else {
  <div class="mv-row">
    <label>Patient</label>
    <p>{{ appointment?.patient?.name }} {{ appointment?.patient?.surname }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>General Practicioner</label>
    <p>
      {{ appointment?.assignee?.name }} {{ appointment?.assignee?.surname }}
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Specialist</label>
    <p>
      {{ appointment?.schedule?.specialist?.name }}
      {{ appointment?.schedule?.specialist?.surname }}
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Speciality</label>
    <p>{{ appointment?.schedule?.specialist?.specialty }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Date & Time</label>
    <p>{{ appointment?.date }} at {{ appointment?.time }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mv-row">
    <label>Hospital</label>
    <p>{{ appointment?.location }}</p>
  </div>
  }
</div>
