<ul class="mv-tabs">
  <li class="mv-tab" [class.clicked]="lastClicked == 'Basic Info'"><button (click)="setActiveButton($event)">Basic Info</button></li>
  <li class="mv-tab" [class.clicked]="lastClicked == 'Appointments'"><button (click)="setActiveButton($event)">Appointments</button></li>
  <li class="mv-tab" [class.clicked]="lastClicked == 'Prescriptions'"><button (click)="setActiveButton($event)">Prescriptions</button></li>
  <li class="mv-tab" [class.clicked]="lastClicked == 'History'"><button (click)="setActiveButton($event)">History</button></li>
</ul>
