:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  position: absolute;
  left: 0;
  height: calc(100vh - 60px);
  z-index: 1;
}

mat-form-field, #timeslots-btn{
  width: 300px;
}

mat-form-field{
  border-radius: 20px;
}

button{
  height: 50px;
  margin-bottom: 19.5px;
}

/* #search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  padding: 5px;
}

input {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 12px;
  border: none;
  background-color: white;
  transition: background-color ease 0.1s, color ease 0.1s;
}

#see-all {
  background-color: hsl(205, 89%, 75%);
}

#see-all:hover {
  background-color: rgb(7, 75, 123);
  color: white;
  outline: 1px solid white;
  cursor: pointer;
} */
