

<button mat-flat-button id="timeslots-btn">Find an available timeslot</button>

<mat-form-field >
  <mat-label>Find a specialist or equipment</mat-label>
  <input matInput type="text" [(ngModel)]="specialistOrEquipment">
  @if (specialistOrEquipment) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="specialistOrEquipment=''">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>
<mat-form-field>
  <mat-label>Find your appointment</mat-label>
  <input matInput type="text" [(ngModel)]="appointment">
  @if (appointment) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="appointment=''">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>



<!--
<div id="search-wrapper">
  <input type="button" value="See available timeslots" id="see-all" />
  <input
    type="text"
    id="appointment-search"
    placeholder="Search by appointment number..."
  />
  <input
    type="text"
    id="specialist-equipment-search"
    placeholder="Find a specialist or equipment..."
  />


</div> -->
